.auth__form {
  background: var(--primary-color);
  padding: 4rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
}

.auth__form p {
  margin-top: 2rem;
}

.auth__form p a {
  color: rgba(255, 255, 255, 0.5);
}

.auth__form p a:hover {
  color: #fff;
}

.auth__btn {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

.auth__form input[type="file"] {
  color: #fff;
  font-size: 1.4rem;
  border-radius: .3rem;
  padding: 0;
  cursor: pointer;
}
