.hero__section {
  background-color: var(--hero-bg);
}

.hero__section h2 {
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem 0;
}

.hero__section p {
  color: #111;
  line-height: 2.8rem;
}

.hero__section p:nth-child(1) {
  font-weight: 500;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  margin-top: 4rem;
}

.buy__btn a:hover {
  color: #fff;
}

.hero__content {
  padding-top: 4.5rem;
}

.timer__count {
  background: var(--primary-color);
  height: 30rem;
}

.timer__count img {
  width: 40%;
  object-fit: contain;
}

.store__btn {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

.store__btn a:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 1024px) {
  .hero__content h2 {
    font-size: 2.5rem;
  }

  .section__title {
    font-size: 2rem;
  }

  .timer__count {
    padding: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .timer__count img {
    width: 60%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 2rem;
  }

  .hero__content p {
    font-size: 1.4rem;
  }

  .buy__btn {
    font-size: 1.4rem;
  }

}

@media only screen and (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 4rem;
  }

  .timer__count {
    flex-direction: column;
  }

  .timer__count img {
    width: 40%;
    object-fit: contain;
  }
}