.header {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0.3rem 0.3rem 0.8rem -0.3rem #ddd;
  background-color: #fff;
}

.header__back {
  width: 100%;
  height: 7rem;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.logo img {
  width: 3.8rem;
  height: 3.8rem;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
  margin-bottom: 0;
}

.nav__item a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav__icons span i {
  font-size: 2.2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.cart__icon,
.fav__icon {
  position: relative;
}

.badge {
  position: absolute;
  top: 25%;
  right: -30%;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 10;
}

.nav__icons span img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.mobile__menu {
  font-size: 2rem;
  color: var(--primary-color);
  display: none;
}

.nav__active {
  font-weight: 700 !important;
}

/* .sticky__header {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  position: fixed;
  z-index: 999;
  box-shadow: 0.3rem 0.3rem 0.8rem -0.3rem #ddd;
  background-color: #fff;
} */

@media only screen and (max-width: 768px) {
  .navgation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100%;
    background-color: #fff;
    z-index: 1010;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active__menu {
    display: block;
  }

  .mobile__menu {
    display: block;
  }

  .mobile__menu span i {
    font-size: 2rem;
  }

  .logo img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  .header {
    height: 6rem;
    line-height: 6rem;
  }
}
